 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/7a40b70fc3d64dcf27533ec663e4628b0c2fdd9baa5e1f2fbf53becd161dbd45ae3ff40de6e0a460be21eb49faa6e33a3f2bfa2aadb5e078177991_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 433px;
}

.u-section-1 .u-group-1 {
  width: 325px;
  height: 325px;
  margin: 7px 109px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -247px 534px 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 503px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    width: auto;
    margin: -670px 537px 13px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -671px;
    margin-right: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px 77px 0 115px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  width: 680px;
  margin: 21px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 345px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 30px 17px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-3 {
  margin: -60px 0 0 94px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 21px 30px 17px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 30px 17px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 21px 30px 17px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 21px 30px 17px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 21px 30px 17px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 291px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -28px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -28px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -28px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -28px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-top: -28px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1470px;
}

.u-section-3 .u-image-1 {
  width: 1082px;
  object-position: 0% 38.08%;
  background-position: 0% 38.08%;
  height: 748px;
  margin: 71px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 651px;
  min-height: 384px;
  background-image: none;
  height: auto;
  margin: -384px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 53px 26px 0;
}

.u-section-3 .u-text-2 {
  margin: 22px 40px 0;
}

.u-section-3 .u-group-2 {
  background-image: none;
  min-height: 309px;
  height: auto;
  width: 648px;
  margin: 8px auto 0 -15px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 45px 172px 0 58px;
}

.u-section-3 .u-group-3 {
  background-image: none;
  min-height: 510px;
  height: auto;
  width: 478px;
  margin: -306px 19px 60px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 22px auto 0 52px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 26px 163px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 650px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -286px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1220px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 498px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -134px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-3 .u-image-1 {
    object-position: 26.09% 38.08%;
    width: 540px;
    height: 374px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -10px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 118px;
    margin-left: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 235px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 129px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 75px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1404px;
}

.u-section-4 .u-image-1 {
  width: 1082px;
  object-position: 0% 38.08%;
  background-position: 0% 38.08%;
  height: 612px;
  margin: 71px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 651px;
  min-height: 384px;
  background-image: none;
  height: auto;
  margin: -384px 26px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: 55px 40px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 40px 0;
}

.u-section-4 .u-group-2 {
  background-image: none;
  min-height: 346px;
  height: auto;
  width: 651px;
  margin: 11px auto 0 -19px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 19px 163px 0 50px;
}

.u-section-4 .u-group-3 {
  background-image: none;
  min-height: 560px;
  height: auto;
  width: 478px;
  margin: -346px 19px 60px auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  margin: 22px auto 0 22px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 26px 133px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 532px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -304px;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 407px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -179px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-4 .u-image-1 {
    object-position: 26.09% 38.08%;
    width: 540px;
    height: 305px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: -77px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 192px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 36px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 15px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1558px;
}

.u-section-5 .u-image-1 {
  width: 1082px;
  object-position: 0% 38.08%;
  background-position: 0% 38.08%;
  height: 543px;
  margin: 57px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 560px;
  min-height: 378px;
  background-image: none;
  height: auto;
  margin: -378px auto 0 271px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  margin: 50px 40px 0;
}

.u-section-5 .u-text-2 {
  margin: 22px 40px 0;
}

.u-section-5 .u-group-2 {
  background-image: none;
  min-height: 511px;
  height: auto;
  width: 651px;
  margin: 123px auto 0 -24px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 19px 163px 0 50px;
}

.u-section-5 .u-group-3 {
  background-image: none;
  min-height: 380px;
  height: auto;
  width: 478px;
  margin: -540px 22px 60px auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: 22px auto 0 22px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  margin: 26px 32px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 472px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -307px;
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 362px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -197px;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1287px;
  }

  .u-section-5 .u-image-1 {
    object-position: 26.09% 38.08%;
    width: 540px;
    height: 272px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-top: -107px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 171px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -6px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1694px;
}

.u-section-6 .u-image-1 {
  width: 1082px;
  object-position: 0% 38.08%;
  background-position: 0% 38.08%;
  height: 562px;
  margin: 57px auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 600px;
  min-height: 398px;
  background-image: none;
  height: auto;
  margin: -562px 58px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-1 {
  margin: 51px 13px 0 40px;
}

.u-section-6 .u-text-2 {
  margin: 50px 40px 0;
}

.u-section-6 .u-group-2 {
  background-image: none;
  min-height: 655px;
  height: auto;
  width: 538px;
  margin: 196px auto 0 -24px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 19px 50px 0;
}

.u-section-6 .u-group-3 {
  background-image: none;
  min-height: 862px;
  height: auto;
  width: 572px;
  margin: -629px 22px 60px auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-6 .u-text-4 {
  font-size: 2.25rem;
  margin: 22px auto 0 22px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1620px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 488px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -488px;
    height: auto;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 374px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -374px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1413px;
  }

  .u-section-6 .u-image-1 {
    object-position: 26.09% 38.08%;
    width: 540px;
    height: 281px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-top: -281px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 20px;
  }

  .u-section-6 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 177px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: -177px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-group-3 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1694px;
}

.u-section-7 .u-image-1 {
  width: 1082px;
  object-position: 0% 38.08%;
  background-position: 0% 38.08%;
  height: 609px;
  margin: 57px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 600px;
  min-height: 246px;
  background-image: none;
  height: auto;
  margin: -427px auto 0 241px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 29px;
}

.u-section-7 .u-text-1 {
  margin: 23px 26px 0;
}

.u-section-7 .u-text-2 {
  margin: 51px 40px 0;
}

.u-section-7 .u-group-2 {
  background-image: none;
  min-height: 387px;
  height: auto;
  width: 538px;
  margin: 213px auto 0 -24px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0 20px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 19px 50px 0;
}

.u-section-7 .u-group-3 {
  background-image: none;
  min-height: 862px;
  height: auto;
  width: 572px;
  margin: -361px 23px 60px auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  margin: 22px auto 0 22px;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 529px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -348px;
    height: auto;
  }

  .u-section-7 .u-group-2 {
    height: auto;
  }

  .u-section-7 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -224px;
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1389px;
  }

  .u-section-7 .u-image-1 {
    object-position: 26.09% 38.08%;
    width: 540px;
    height: 304px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-top: -123px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: -10px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-group-3 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1990px;
}

.u-section-8 .u-image-1 {
  width: 1082px;
  object-position: 0% 38.08%;
  background-position: 0% 38.08%;
  height: 489px;
  margin: 57px auto 0 0;
}

.u-section-8 .u-group-1 {
  width: 600px;
  min-height: 246px;
  background-image: none;
  height: auto;
  margin: -377px auto 0 241px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 0 29px;
}

.u-section-8 .u-text-1 {
  margin: 23px 26px 0;
}

.u-section-8 .u-text-2 {
  margin: 51px 40px 0;
}

.u-section-8 .u-group-2 {
  background-image: none;
  min-height: 697px;
  height: auto;
  width: 482px;
  margin: 190px auto 0 -15px;
}

.u-section-8 .u-container-layout-2 {
  padding: 14px 0 20px;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  margin: 1px 50px 0;
}

.u-section-8 .u-group-3 {
  background-image: none;
  min-height: 1268px;
  height: auto;
  width: 617px;
  margin: -718px 16px 60px auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-8 .u-text-4 {
  font-size: 2.25rem;
  margin: 22px auto 0 22px;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1926px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 425px;
  }

  .u-section-8 .u-group-1 {
    margin-top: -312px;
    height: auto;
  }

  .u-section-8 .u-group-2 {
    height: auto;
  }

  .u-section-8 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1827px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 326px;
  }

  .u-section-8 .u-group-1 {
    margin-top: -213px;
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1746px;
  }

  .u-section-8 .u-image-1 {
    object-position: 26.09% 38.08%;
    width: 540px;
    height: 245px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
    margin-top: -132px;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-8 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1655px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 154px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-top: -41px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-group-3 {
    width: 340px;
  }
}